<p>binding works!</p>
<h1>Welcome to My Angular App</h1>

<table style="width:50%" [class.class1]="!useStyle">
  <tr>
    <th>First Name</th>
    <td [innerHTML]="obj.firstName"></td>
  </tr>

  <tr>
    <th>Last Name</th>
    <td [innerHTML]="obj.lastName"></td>
  </tr>
  <tr>
    <th>Salary</th>
    <td [innerHTML]="obj.salary"></td>
  </tr>
  <tr>
    <th>Designation</th>
    <td [innerHTML]="obj.designation"></td>
  </tr>
</table>

<button (click)="buttonClicked()">{{useStyle?displayMsg:displayMsg2}}</button>
<hr />

<input type="text" [value]="val" (input)="val = $event.target.value" />

<br />

{{val}}

<br />
<input type="text" [(ngModel)]="val" />
